$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #FFF;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    h1 {
        color: #FFF;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: -1px;
        font-weight: bold;
    }
    background-image: asset-url('cover.jpg');
    background-size: cover;
    height: 550px;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: #000;
}

.btn-xlarge:hover {
    background-color: #333;
}

.description {
    margin-top: 0;
}


.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

footer {
    a:hover {
        color: #222;
    }

    small {
        float:left;
    }

    ul {
        li {
            float: left;
            margin-left: 15px;
        }
        
        float: right;
        list-style: none;
    }
    
    margin-top: 30px;
    padding-top: 5px;
    border-top: 1px solid #EAEAEA;
    color: #666;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.admin-user-actions {
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
}

.badge {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 0.9em;
    a {
        color: #fff;
    }
}

.input_checkbox {
    width: auto !important;
}

.article-categories {
    align: center;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
}

.article-listing-categories {
    border-top: 0.5px solid #eaeaea;
    padding-top: 5px;
}

.category-edit-button {
    margin-bottom: 10px;
    border-top: 0.5px solid #eaeaea;
    background-color: #fab;
}