<!DOCTYPE html>
<html>
<head>
  <title>Alpha Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navigation" %>
  <%= render "layouts/messages" %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
